{% assign latest_item = site.data.writing | first %}
{% assign copy = latest_item[include.lang] %}
{% if copy.tags.size > 0 %}
<section>
  <h2 class="panel-heading">{{- site.data.locales[include.lang].panel.trending_tags -}}</h2>
  <div class="d-flex flex-wrap mt-3 mb-1 me-3">
  {% for tag in copy.tags %}
    {% if include.lang == 'en' %}
      {% capture tag_url %}/en/tags/#{{ tag | slugify }}{% endcapture %}
    {% else %}
      {% capture tag_url %}/tags/{{ tag | slugify | url_encode }}/{% endcapture %}
    {% endif %}
    <a class="post-tag btn btn-outline-primary" href="{{ tag_url | relative_url }}">{{ tag }}</a>
  {% endfor %}
  </div>
</section>
{% endif %}
